---
title: 'Markdown with SvelteKit'
description: 'A high-level view of features and pricing from the newest and best online text to speech generators on the market'
author: 'Kyle'
publishedAtIso: '2023-02-05'
---

<script>
...
</script>

# Markdown with SvelteKit

With SvelteKit, integrating Markdown is made simple through the mdsvex plugin.

## Benefits of mdsvex
- Allows you to write Markdown inside your Svelte components.
- Supports frontmatter and Svelte components within Markdown.